.metadata
__pycache__
syn_results/
archiv/
build/
work/
synlog/
synwork/
syntmp/
backup/
.recovery
.coverage*
transcript
.vdbs/
*.bit
*.mcs
*.arearep
*.lsedata
*.*cache*
.build_status
.hdl_checker/
hdr_log
*.out
*~
*.bak
*.bak.*
*.*-bak
*.swp
*.*-swp
.*.ini
*.log
*.xml
*.zip
*.rpt
*.db
*_stacktrace.txt
*_options.txt
*.htm
*.html
*.tab
*.tmp
*.vcd
*.history
*.lock
.claude/worktrees
